<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.espressgo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Percolate PGH"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginView"
            android:theme="@style/AppTheme.NoActionBarOpening" />
        <activity
            android:name=".CreateUserView"
            android:theme="@style/AppTheme.NoActionBarOpening" />
        <activity
            android:name=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpeningScreen"
            android:label="Percolate PGH"
            android:theme="@style/AppTheme.NoActionBarOpening">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>